html {
  box-sizing: border-box;
}

.container {
  margin-left: 20px;
  margin-right: 20px;
}

.key {
  margin: 20px 5px;
}

button {
  margin: 10px 0px;
}

.display-words {
  width: 50%;
  float: left;
}

.display-etymology {
  width: 50%;
  float: right;
  padding: 10px;
  font-size: 16px;
  background-color: beige;
}

.word {
  margin: 2px 0px;
  display: inline-block;
}

.greek:hover, .old-english:hover, .latin:hover, .other:hover {
  border-color: black;
}

/*green*/
.greek {
  padding: 3px;
  background-color: #26ed5b;
  border: solid #1fa141 2px;
}

/*pink*/
.old-english {
  padding: 3px;
  background-color: #ffadf3;
  border: solid #a35898 2px;
}

/*blue*/
.latin {
  padding: 3px;
  background-color: #80c5ff;
  border: solid #5785ab 2px;
}

/*yellow*/
.other {
  padding: 3px;
  background-color: #f6ff00;
  border: solid #9da300 2px;
}

/*red*/
.red {
  padding: 3px;
  background-color: #ff4242;
  border: solid #cf3434 2px;
  color: white;
}
