<h4>Show the etymology of a word or series of words!</h4>

<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
<form ng-submit="click()">
      <textarea
      ng-model="text"
      ng-model-options="{ updateOn: 'submit' }"
      class="form-control" rows="3" cols="100" id="textArea" placeholder="Enter text here"></textarea>
      <button class="btn btn-primary">Show etymology</button>
</form>
    </div>
  </div>
</div>


<div>
  <h4>
    <div ng-repeat="entry in etymology">
      {{ entry.word + ": " + entry.etymology }}
    </div>
  </h4>
</div>
